name: Docker Image CI

on: [push]

jobs:

  build-mac:

    runs-on: macos-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v1
    - name: Import Code-Signing Certificates
      uses: Apple-Actions/import-codesign-certs@v1
      with: 
        p12-file-base64: ${{ secrets.CERTIFICATES_P12 }}
        p12-password: ${{ secrets.CERTIFICATES_P12_PASSWORD }}
    - name: Git submodule update
      run: | 
        git submodule init
        git submodule update
    - name: Install the package
      run: | 
        brew tap owncloud/owncloud
        brew install qt5
        brew install cmake
        brew install $(brew deps owncloud-client)
        brew update
        brew cask install packages
        sudo su -
        bash $GITHUB_WORKSPACE/ci-script/mac_install_sparkle.sh
        sudo xcode-select -s /Applications/Xcode.app/Contents/Developer 
    - name: Build the package
      run: |
        mkdir build && cd build
        cmake -DCMAKE_PREFIX_PATH=/usr/local/opt/qt5 -DCMAKE_INSTALL_PREFIX=$GITHUB_WORKSPACE/install/ -DNO_SHIBBOLETH=1 ..
        sudo make install
        sudo make macdeployqt
        sudo bash $GITHUB_WORKSPACE/admin/osx/sign_app.sh $GITHUB_WORKSPACE/install/ecclesiasdrive.app "${{ secrets.DEVELOPER_ID_APPLICATION }}" "${{ secrets.TEAM_IDENTITY }}"
        sudo bash admin/osx/create_mac.sh $GITHUB_WORKSPACE/install/ $PWD "${{ secrets.DEVELOPER_ID_INSTALLER }}" "${{ secrets.APPLE_ID_MAIL }}" "${{ secrets.APPLE_APP_PASSWORD }}" "${{ secrets.ASC_PROVIDER }}"        
    - name: Make Release
      uses: softprops/action-gh-release@v1
      if: startsWith(github.ref, 'refs/tags/')
      with:
        files: ./install/*.pkg
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
